.characterModal .characterSetTop {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    font-size: 20px;
}
.characterModal .characterSetList .charaSta {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-top: 1px solid #221f47;
    flex-wrap: wrap;
}

.characterModal .characterSetList .charaSta .charaGear {
    text-align: center;
}

.characterModal .characterSetList .charaSta .charaGear .gearTop,
.characterModal .characterSetList .charaSta .charaStatus .statusTop {
    margin: 10px 0px;
    font-weight: bold;
    text-align: center;
}

.characterModal .characterSetList .charaSta .charaGear .gearTab {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.characterModal .characterSetList .charaSta .charaGear .gearTab .gear {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    font-size: 24px;
}

.characterModal .characterSetList .charaSta .charaGear .gearTab .gear div {
    background-color: #FFF;
    border: 1px solid #3e3e41;
    overflow: hidden;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.characterModal .characterSetList .charaSta .charaGear .gearTab .charaImg {
    border: 2px solid #2d236b;
    width: 250px;
    height: 350px;
    border-radius: 10px;
}

.characterModal .characterSetList .charaSta .charaStatus .status {
    border: 2px solid #2d236b;
    border-radius: 10px;
    width: 280px;
    height: 350px;
    padding: 20px;
    font-size: 20px;
}

.characterModal .characterSetList .charaSta .charaStatus .status .stats {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.characterModal .characterSetList .charaSta .charaStatus .status .stats div {
    width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.characterModal .characterSetList .inventory .invenTop {
    margin: 20px 10px;
    font-weight: bold;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.characterModal .characterSetList .inventory .invenTop .invenMode .invenName {
    display: inline-block;
    margin-right: 20px
}

.characterModal .characterSetList .inventory .invenTop .invenMode .sellMode {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}

.characterModal .characterSetList .inventory .invenTop .invenMode .sellMode:hover {
    cursor: pointer;
    background-color: #858cec;
}

.characterModal .characterSetList .inventory .invenTop .sellBtn {
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    background-color: #221f47;
    color: #fff;
    border-radius: 5px;
}

.characterModal .characterSetList .inventory .invenTop .sellBtn:hover {
    color: #766ce2;
}

.characterModal .characterSetList .inventory .invenArray {
    border: 2px solid #221f47;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow: auto;
    height: 250px;
}

.characterModal .characterSetList .inventory .invenArray .invenItem {
    border: 1px solid #bdbdbd;
    display: inline-block;
    width: 110px;
    height: 110px;
    text-align: center;
    margin: 15px 30px 15px 15px;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
}

.characterModal .characterSetList .inventory .invenArray .invenItem .checkBox {
    position: absolute;
    bottom: 20px;
    right: 35px;
    margin: 40px 0 0 55px;
}