.stage {
    background-color: #2a2e44;
    width: 130px;
    height: 130px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 15px;
    overflow: auto;
    position: relative;
    font-size: 40px;
    vertical-align: middle;
  }
  
  .stage:hover {
    background-color: #4b5594;
  }