.sideBarMenu {
    background-color: #202443;
    color: #fff;
    width: 250px;
    position: fixed;
    right: 0;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.sideBarMenu .sideBarTop {
    height: 30px;
    text-align: right;
}

.sideBarMenu .sideBarTop .sideBarClose {
    background-color: #202443;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding-top: 8px;
    margin-right: 8px;
}

.sideBarMenu .sideBarList div {
    border-bottom: 2px solid #2a3575;
    padding-bottom: 5px;
    margin-left: 10px;
}

.sideBarMenu .sideBarList div:not(:first-of-type) {
    margin: 20px 0 0 10px;
}

.sideBarMenu .sideBarList div button {
    border: none;
    background-color: #202443;
    cursor: pointer;
    font-size: 20px;
}

.sideBarMenu .sideBarList div button:hover {
    color: #82a9ff;
}

.mainSide .mainSideBtn {
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 10px;
}

.sideBarMenu .sideBarList .logout .logoutBtn {
    color: #a13333;
}

.sideBarMenu .sideBarList .logout .logoutBtn:hover {
    color: #df6767;
}

.characterModal .characterSetTop,
.shopModal .shopTop {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

.characterModal .characterSetList .charaSta {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-top: 1px solid #7b71ff;
}

.characterModal .characterSetList .charaSta .charaGear {
    text-align: center;
}

.characterModal .characterSetList .charaSta .charaGear .gearTab {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.characterModal .characterSetList .charaSta .charaGear .gearTab .gear div {
    background-color: rgb(122, 131, 255);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.characterModal .characterSetList .charaSta .charaGear .gearTab .charaImg {
    border: 1px solid #63adf1;
    width: 250px;
    height: 350px;
}

.characterModal .characterSetList .charaSta .charaStatus .status {
    border: 1px solid #63adf1;
    width: 300px;
    height: 350px;
}