body {
  background-color: #000000;
  cursor: default;
}

.chat {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  width: 100%;
  height: 190px;
  background-color: #d3d3d3;
  color: #000000;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.chat .chatTop {
  display: flex;
  justify-content: space-between;
}

.chat .chatName {
  font-size: 23px;
  font-weight: 600;
  color: #000;
}

.chat .chatDial {
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 18px;
}

.chatSkipBtn {
  position: absolute;
  z-index: 10;
  right: 20px;
  bottom: 160px;
}

.chatSkipBtn Button:hover {
  color: #fff;
  border-color: #858cec;
}
