.mainWindow {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: #ffffff;
}

.mainWindow .mainTop {
  display: flex;
  justify-content: space-between;
}

.mainWindow .mainTop .mainSide {
  margin-bottom: 5px;
  cursor: pointer;
}

.mainWindow .mainTop .mainMenu {
  border:none;
  width: 100px;
  border-radius: 10px;
  background-color: #a4ccff;
}

.mainWindow .mainTop .mainMenu:hover {
  background-color: #00ccff;
}

.mainWindow .mainTop .nickname {
  background-color: #a4ccff;
  height: 30px;
  width: 50px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.mainWindow .mainForm {
  display: flex;
  height: 97%;
}

.mainWindow .mainStart {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #a4ccff;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.mainWindow .mainStart .gameName {
  font-weight: bold;
  font-size: 25px;
}

.mainWindow .mainStart .startButton {
  display: flex;
  align-items: flex-end;
}

.mainWindow .mainStart .startButton .startBtn {
  background-color: #1b58ff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  width: 150px;
}

.mainWindow .mainStart .startButton .startBtn:hover {
  background-color: #4790ff;
}