.mainWindow {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.mainWindow .mainTop {
  display: flex;
  justify-content: space-between;
}

.mainWindow .mainForm {
  display: flex;
  height: 100%;
  margin-right: 250px;
}

.mainWindow .mainStart {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #a4ccff;
  width: 100%;
  padding: 10px;
}

.mainWindow .mainStart .gameName {
  font-weight: bold;
  font-size: 25px;
}

.mainWindow .mainStart .startButton {
  display: flex;
  align-items: flex-end;
}

.mainWindow .mainStart .startButton .startBtn {
  background-color: #1b58ff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  width: 150px;
}

.mainWindow .mainStart .startButton .startBtn:hover {
  background-color: #4790ff;
}

@media screen and (max-width: 600px) {
  .mainWindow .mainForm {
    margin-right: 0px;
  }
}